@import url("panels/FoldablePanel/style.css");
@import url("panels/DockablePanel/style.css"); 
.esriPopupWrapper .title {
    cursor: move;
}
.esriPopup .hidden {
    display: none !important;
}
/********** styles for simple panel***********/
.jimu-simple-panel{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
/* }
 .jimu-subtitle{ - this stays commented out as part of default config.
  opacity: 0.5; */
} 
.jimu-link{
  opacity: 0.8;
}